body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "sans-serif";
}

.login-wrapper {
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  display: flex;
  background-color: black;
  flex: auto;
}

.test-wrapper {
  width: 100%;
  height: 100%;
  background-color: smoke;
}

#calendar {
  height: 100%;
}

.polylogo {
  height: 60%;
}

.login-wrapper input[type="email"] {
  width: 300px;
}

